/* IMPORT FONT AND COLORS */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,700;0,9..40,800;0,9..40,1000;1,9..40,400&display=swap');

/* SET GLOBAL VARIABLES */
:root {
    --card-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    --content-background: #e2e8f0;
    --white: #f8fafc;
    --card-radius: 0.5rem;
    --slate: #1e293b;
    --font-dark: #0f172a;
    --font-light: #f1f5f9;
}

/* RESET STYLE */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    font-family: 'DM Sans', sans-serif;
}

html {
    color: var(--font-dark);
}

/* SET MAIN LAYOUT */

.main {
    height: 100vh;
    display:grid;
    grid-template-columns: clamp(15rem, 1fr, 20rem) 4fr;
    grid-template-rows: 1fr 5fr;
}

.header-container {
    grid-area: 1 / 2 / 2 / 3;
}

/* SIDEBAR LAYOUT */

.sidebar-container {
    grid-column: 1/2;
    grid-row: 1/3;

    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    padding-left: 1rem;
    background-color: var(--slate);
    color: var(--font-light);
    padding: 2rem;
}


.links {
    display: inherit;
    flex-flow: inherit;
    gap: 1rem;
    color: inherit;
}

.nav {
    color: inherit;
}

.content-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.nav {
    display:block
}

.sidebar-container>.header {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.links>a {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 700;
}

.links>a:hover {
    color: orange;
}

.links>a:active {
    color: yellow;
}

/* HEADER LAYOUT */

.header-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;

    align-items: center;
    padding: 2rem;
    gap: 1rem;

    position:relative;
    box-shadow: var(--card-shadow);

    .right-top-header {
        align-items: center;
        gap: 1rem;
    }
}

.search {
    grid-area: 1 / 1 / 2 / 2;
}

#search {
    width: 90%;
    border-radius: 3rem;
    background-color: var(--content-background);
    border: none;
    height: max(2rem, 2vh);
    padding-left: 1rem;
}

.right-top-header {
    grid-area: 1 / 2 / 2 / 3;
}

.user-message {
    grid-area: 2 / 1 / 3 / 2;

    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr 1fr;

    .user-icon {
        grid-column: 1 / 2;
        grid-row: 1/3;
        height: 40px;
        width: 40px;
    }

    p {
        font-size: 0.75rem;
    }
    
    .user-profile {
        grid-column: 2/3;
    }
}

.right-btm-header {
    grid-area: 2 / 2 / 3 / 3;
}

.right-header {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    padding-right: 2rem;;

    buttons {
        color: var(--white);
        background-color: var(--slate);
        padding: 0.5rem 1rem;
        border-radius: 3rem;
    }
}

/* MAIN CONTENT LAYOUT */


.content-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);

    gap: 2rem;
    padding: 1rem;
    background-color: var(--content-background);
}

.projects-container {
    grid-area: 1 / 1 / 3 / 2;

    padding-left: 1rem;
}

.right-main-content {
    grid-area: 1 / 2 / 3 ;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding-top: 1rem;
}

.cards {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;

    border-radius: var(--card-radius);
    padding: 2rem;
    box-shadow: var(--card-shadow);
    background-color: var(--white);
}

.card-container>.cards {
    border-left: orange 10px solid;
}

.icons {
    display: flex;
    justify-content: end;

    gap: 1rem;
}

/* MAIN CONTENT RIGHT SIDE LAYOUT */

.right-main-content {
    /* display: grid;
    grid-template-rows: 1fr 1fr; */
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.section {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;

    height: 50vh;
}

.right-card {
    overflow: auto;
}

.annoucements {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
    height: 40%;

    h3 {
        font-size: 0.8rem;
    }
}

.annoucement-text {
    font-size: 0.7rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

/* ITEM FORMATTING */

.user-icon {
    background-color: orange;
    padding: 2px;
    border-radius: 30px;
}